<% include partials/_header %>

<div class="container mt-5 text-center">
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 1</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 2</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 3</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 4</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 5</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 6</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 7</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 8</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 9</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 10</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 11</button>
    <button type="button" class="btn btn-outline-primary btn-block" href="">Grupo 12</button>
    
</div>

<% include partials/_footer %>