<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Canarias Life</title>  
    <!-- NAVIGATION -->
  
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
   
    </head>
  <body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/"><img src="https://www.canariaslife.com/wp-content/uploads/2020/05/Canarias_Life_Logo_horizontal_portada.png" alt="" width="150px"></a>
    </nav>
    
    
